global:
  scrape_interval: 15s
  external_labels:
    monitor: 'faforever'

scrape_configs:
  - job_name: 'faf-traefik'
    static_configs:
      - targets: ['dockerhost:8080']
        labels:
          alias: faf-main

  - job_name: 'faf-java-api'
    scrape_interval: 5s
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: ['faf-java-api:8011']
        labels:
          group: faf-main

  - job_name: 'faf-java-server'
    scrape_interval: 5s
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: ['faf-java-server:8089']
        labels:
          group: faf-main

  - job_name: 'faf-python-server'
    scrape_interval: 5s
    metrics_path: '/'
    static_configs:
      - targets: ['faf-python-server:8011']
        labels:
          group: faf-main

  - job_name: 'faf-aio-replayserver'
    scrape_interval: 5s
    metrics_path: '/'
    static_configs:
      - targets: ['faf-aio-replayserver:8011']
        labels:
          group: faf-main

  - job_name: 'faf-statsd-exporter'
    static_configs:
      - targets: ['faf-statsd-exporter:9102']
        labels:
          group: faf-main

  - job_name: 'faf-mysql-exporter'
    static_configs:
      - targets: ['faf-mysql-exporter:9104']
        labels:
          alias: faf-db

  - job_name: 'faf-node-exporter'
    scrape_interval: 5s
    metrics_path: '/metrics'
    static_configs:
      - targets: ['faf-node-exporter:9100']
        labels:
          alias: faf-main

  - job_name: 'faf-cadvisor'
    static_configs:
      - targets: ['faf-cadvisor:8080']
        labels:
          alias: faf-main

  - job_name: 'faf-rabbitmq'
    metrics_path: '/metrics'
    static_configs:
      - targets: ['faf-rabbitmq:15692']
        labels:
          alias: faf-rabbitmq
