version: '3.3'

services:

  #
  # Initialize all data directories with correct permissions.
  # This is a workaround for the fact that Docker always creates volumes as root. This could also be done outside
  # docker-compose in a shell script, but it would add yet another manual maintenance step. This way, permissions are
  # set correctly by simply using docker-compose.
  #
  faf-init-volumes:
    container_name: faf-init-volumes
    image: alpine:latest
    volumes:
      - ./:/faf-stack
    command: sh -c "cd /faf-stack && sh scripts/init-volumes.sh"

  #
  # Coturn server for proxying between players
  # It uses net: "host" for performance reasons.
  #
  faf-coturn:
    container_name: faf-coturn
    image: bprodoehl/turnserver
    env_file: ./config/faf-coturn/faf-coturn.env
    network_mode: "host"
    ports:
      - "3478:3478"
      - "3478:3478/udp"

  #
  # FAF MySQL database.
  #
  faf-db:
    container_name: faf-db
    build: git://github.com/FAForever/db.git#v48
    image: faforever/faf-db:v48.1
    user: ${FAF_DB_USER}
    networks:
      faf:
        aliases:
          - "faf-db"
    restart: always
    env_file: ./config/faf-db/faf-db.env
    ports:
      - "127.0.0.1:3306:3306"
    volumes:
      - ./data/faf-db:/var/lib/mysql
    depends_on:
      - faf-init-volumes

  #
  # Prometheus exporter for MySQL server metrics.
  #
  faf-mysql-exporter:
    container_name: faf-mysql-exporter
    image: prom/mysqld-exporter:v0.10.0
    networks:
      faf:
        aliases:
          - "faf-mysql-exporter"
    restart: always
    env_file: ./config/faf-mysql-exporter/faf-mysql-exporter.env
    expose:
      - "9104"

  #
  # Prometheus exporter for statsd metrics.
  #
  faf-statsd-exporter:
    container_name: faf-statsd-exporter
    image: prom/statsd-exporter:v0.4.0
    networks:
      faf:
        aliases:
          - "faf-statsd-exporter"
    restart: always
    env_file: ./config/faf-statsd-exporter/faf-statsd-exporter.env
    expose:
      - "9105"

  #
  # FAF game server for clients to connect to.
  #
  faf-python-server:
    container_name: faf-python-server
    build: git://github.com/FAForever/server.git#v0.9.13
    image: faforever/faf-python-server:v0.9.13
    user: ${FAF_PYTHON_SERVER_USER}
    networks:
      faf:
        aliases:
          - "faf-python-server"
    restart: always
    env_file: ./config/faf-python-server/faf-python-server.env
    volumes:
      - ./config/faf-python-server/faf-server.pem:/code/faf-server.pem
    ulimits:
      nproc: 65535
      nofile:
        soft: 100000
        hard: 200000
    ports:
      - "8001:8001" # Server
      - "6112:6112/udp" # STUN
      - "30351:30351/udp" # STUN
      - "7:7/udp" # STUN
      - "194:194/udp" # STUN
      - "3535:3535/udp" # STUN
      - "53:53/udp" # STUN
      - "67:67/udp" # STUN
    depends_on:
      - faf-init-volumes
      - faf-db

  #
  # FAF game server for clients to connect to.
  #
  faf-java-server:
    container_name: faf-java-server
    image: faforever/faf-java-server:v1.3.0
    user: ${FAF_JAVA_SERVER_USER}
    networks:
      faf:
        aliases:
          - "faf-java-server"
    # Service currently not in use
    # restart: always
    env_file: ./config/faf-java-server/faf-java-server.env
    expose:
      - "8089" # HTTP Management API
    ports:
      - "8001:8001" # Server
    volumes:
      - ./data/faf-java-server/logs:/logs
    depends_on:
      - faf-init-volumes
      - faf-db
    # TODO move to Dockerfile
    healthcheck:
      test: "wget -q -O /dev/null http://localhost:8089/health"
      interval: 30s
      timeout: 5s
      retries: 3

  #
  # FAF JSON-API to provide data over HTTP.
  #
  faf-java-api:
    container_name: faf-java-api
    image: faforever/faf-java-api:1.1.1
    user: ${FAF_JAVA_API_USER}
    networks:
      faf:
        aliases:
          - "faf-java-api"
    restart: always
    env_file: ./config/faf-java-api/faf-java-api.env
    volumes:
      - ./data/content:/content
      - ./data/faf-java-api/logs:/logs
      - ./data/faf-java-api/repositories:/repositories
    expose:
      - "8011" # HTTP Management API
    ports:
      - "8010:8010" # HTTP API
    depends_on:
      - faf-init-volumes
      - faf-db
    # TODO move to Dockerfile
    healthcheck:
      test: "wget -q -O /dev/null http://localhost:8011/health"
      interval: 30s
      timeout: 5s
      retries: 3

  #
  # Old implementation of an almost JSON-API conform API.
  #
  faf-python-api:
    container_name: faf-python-api
    build: git://github.com/FAForever/api.git#v0.9.0
    image: faforever/faf-python-api
    command: python run.py -p 80
    user: ${FAF_PYTHON_API_USER}
    networks:
      faf:
        aliases:
          - "faf-python-api"
    depends_on:
      - faf-init-volumes
      - faf-db
    env_file: ./config/faf-python-api/faf-python-api.env
    volumes:
      - ./data/content:/content
    ports:
      - "8093:80"

  #
  # FAF website.
  #
  faf-website:
    container_name: faf-website
    image: faforever/faf-website:v1.1.4
    user: ${FAF_WEBSITE_USER}
    restart: always
    env_file: ./config/faf-website/faf-website.env
    volumes:
      - ./config/faf-website/faf-website.env:/code/.env
    networks:
      - faf
    depends_on:
      - faf-python-api
    ports:
      - "127.0.0.1:8020:3000"

  #
  # Interface to administer Spring Boot applications.
  #
  faf-spring-boot-admin:
    container_name: faf-spring-boot-admin
    image: aetas/spring-boot-admin-docker:1.4.1
    user: ${FAF_SPRING_BOOT_ADMIN_USER}
    env_file: ./config/faf-spring-boot-admin/faf-spring-boot-admin.env
    ports:
      - "127.0.0.1:8030:8080"
    networks:
      faf:
        aliases:
          - "faf-spring-boot-admin"
    # Service currently not in use
    # restart: always
    healthcheck:
      test: "wget -q -O /dev/null http://localhost:8080"
      interval: 30s
      timeout: 5s
      retries: 3

  #
  # Prometheus is a monitoring and alerting tool that scrapes and stores time-series data.
  #
  faf-prometheus:
    container_name: faf-prometheus
    image: prom/prometheus:v1.7.2
    user: ${FAF_PROMETHEUS_USER}
    env_file: ./config/faf-prometheus/faf-prometheus.env
    networks:
      faf:
        aliases:
          - "faf-prometheus"
    restart: always
    ports:
      - "127.0.0.1:9090:9090" # Webinterface
    volumes:
      - ./config/faf-prometheus/faf-prometheus.yml:/etc/prometheus/prometheus.yml
      - ./data/faf-prometheus:/prometheus
    depends_on:
      - faf-init-volumes

  #
  # Grafana reads data from Prometheus and draws monitoring dashboards.
  #
  # This image needs to run as root since is changes users inside the container.
  #
  faf-grafana:
    container_name: faf-grafana
    image: grafana/grafana:4.5.1
    restart: always
    networks:
      - "faf"
    volumes:
      - ./data/faf-grafana:/var/lib/grafana
    depends_on:
      - faf-init-volumes
    env_file: ./config/faf-grafana/faf-grafana.env
    ports:
      - "8090:3000"

  #
  # IRC for FAF chat.
  #
  faf-unrealircd:
    container_name: faf-unrealircd
    build: git://github.com/FAForever/docker-unrealircd#faf
    image: faforever/faf-unrealircd
    user: ${FAF_UNREALIRCD_USER}
    ulimits:
      nofile:
        soft: 8192
        hard: 8192
    networks:
      faf:
        aliases:
          - "faf-unrealircd"
          - "irc.faforever.com"
          - "services.faforever.com"
    depends_on:
      - faf-init-volumes
      - faf-db
    volumes:
      - ./config/faf-unrealircd/ssl:/home/unreal/unrealircd/conf/ssl
      - ./config/faf-unrealircd/services.conf:/home/unreal/unrealircd/services/conf/services.conf
      - ./config/faf-unrealircd/unrealircd.conf:/home/unreal/unrealircd/conf/unrealircd.conf
      - ./config/faf-unrealircd/motd.txt:/home/unreal/unrealircd/conf/ircd.motd
    restart: always
    ports:
      - "6667:6667"
      - "6697:6697"
      - "6665:6665"
      - "6666:6666"
      - "8067:8067"
      - "7070:7070"
      - "8167:8167"

  #
  # QAI irc bot
  #
  faf-qai:
    container_name: faf-qai
    build: git://github.com/FAForever/QAI#v1.0
    image: faforever/faf-qai
    user: ${FAF_QAI_USER}
    depends_on:
      - faf-init-volumes
    volumes:
      - ./config/faf-qai:/config
    networks:
      - faf
    restart: always

  #
  # FAF Mumble server.
  #
  faf-murmur:
    container_name: faf-murmur
    build: git://github.com/FAForever/murmur#v1.0
    image: faforever/faf-murmur
    user: ${FAF_MUMBLE_USER}
    networks:
      - faf
    depends_on:
      - faf-db
    restart: always
    env_file: ./config/faf-murmur/faf-murmur.env
    ports:
      - "64738:64738"
      - "64738:64738/udp"

  #
  # The content management system which is still being used as a backend for the website. The website accesses
  # Wordpress over a JSON API plugin.
  #
  faf-wordpress:
    container_name: faf-wordpress
    image: faforever/nginx-php-fpm:fixed_user
    user: ${FAF_WORDPRESS_USER}
    restart: always
    volumes:
      - ./data/faf-wordpress:/usr/share/nginx/html
    networks:
      faf:
        aliases:
          - "faf-wordpress"
    depends_on:
      - faf-init-volumes
      - faf-db
    env_file: ./config/faf-wordpress/faf-wordpress.env
    ports:
      - "127.0.0.1:8095:80"

  #
  # The new FAF clanapp.
  #
  faf-clanapp:
    container_name: faf-clanapp
    image: dragonfire/clans:1.0.3
    user: ${FAF_CLANAPP_USER}
    networks:
      - faf
    depends_on:
      - faf-db
    restart: always
    env_file: ./config/faf-clanapp/faf-clanapp.env
    ports:
      - "127.0.0.1:8096:8080"

  #
  # FAF phpBB forum software.
  #
  faf-phpbb3:
    container_name: faf-phpbb3
    image: faforever/nginx-php-fpm:fixed_user
    user: ${FAF_PHPBB3_USER}
    volumes:
      - ./data/faf-phpbb3/phpbb3/www:/usr/share/nginx/html
      - ./data/faf-phpbb3/phpbb3:/usr/share/phpbb3
      - ./config/faf-phpbb3/database.inc.php:/etc/phpbb3/database.inc.php
    networks:
      - faf
    depends_on:
      - faf-init-volumes
      - faf-db
    restart: always
    env_file: ./config/faf-phpbb3/faf-phpbb3.env
    ports:
      - "127.0.0.1:8098:80"

  #
  # Serves static files such as maps, mods, game files etc.
  #
  faf-content:
    container_name: faf-content
    image: faforever/nginx-php-fpm:fixed_user
    user: ${FAF_CONTENT_USER}
    volumes:
      - ./data/content:/usr/share/nginx/html
    networks:
      - faf
    depends_on:
      - faf-init-volumes
    restart: always
    env_file: ./config/faf-content/faf-content.env
    ports:
      - "127.0.0.1:8091:80"

  #
  # The FAF media wiki.
  #
  faf-wiki:
    container_name: faf-wiki
    image: faforever/nginx-php-fpm:fixed_user
    user: ${FAF_WIKI_USER}
    restart: always
    networks:
      - faf
    volumes:
      - ./data/faf-wiki:/usr/share/nginx/html
    depends_on:
      - faf-init-volumes
    env_file: ./config/faf-wiki/faf-wiki.env
    ports:
      - "127.0.0.1:8092:80"

  #
  # The legacy update server from which the legacy client gets its update information.
  #
  faf-legacy-updater:
    container_name: faf-legacy-updater
    build: git://github.com/FAForever/legacy-updater.git#v1.0
    image: faforever/faf-legacy-updater
    user: ${FAF_LEGACY_UPDATER_USER}
    restart: always
    volumes:
      - ./data/content:/content
      - ./config/faf-legacy-updater/updater.conf:/code/updater.conf
    networks:
      - faf
    depends_on:
      - faf-init-volumes
      - faf-db
    restart: always
    env_file: ./config/faf-legacy-updater/faf-legacy-updater.env
    ports:
      - "9001:9001"

  #
  # The legacy "live replay" server.
  #
  faf-legacy-live-replay-server:
    container_name: faf-legacy-live-replay-server
    build: git://github.com/FAForever/legacy-replay-server.git#v1.1
    image: faforever/faf-legacy-live-replay-server
    user: ${FAF_LEGACY_LIVE_REPLAY_SERVER_USER}
    restart: always
    volumes:
      - ./data/content:/content
    networks:
      - faf
    depends_on:
      - faf-init-volumes
      - faf-db
    restart: always
    env_file: ./config/faf-legacy-live-replay-server/faf-legacy-live-replay-server.env
    ports:
      - "15000:15000"

  #
  # The legacy "secondary server" which does many different things, most of which are being replaced.
  #
  faf-legacy-secondary-server:
    container_name: faf-legacy-secondary-server
    build: git://github.com/FAForever/legacy-secondaryServer.git#v1.0
    image: faforever/faf-legacy-secondary-server
    user: ${FAF_LEGACY_SECONDARY_SERVER_USER}
    restart: always
    volumes:
      - ./data/content:/content
    networks:
      - faf
    depends_on:
      - faf-init-volumes
      - faf-db
    restart: always
    env_file: ./config/faf-legacy-secondary-server/faf-legacy-secondary-server.env
    ports:
      - "11002:11002"

  #
  # A small web tool that allows users to invite themselves into our Slack group.
  #
  faf-slack-invite-automation:
    container_name: faf-slack-invite-automation
    image: faforever/faf-slack-invite-automation:v1.1
    user: ${FAF_SLACK_INVITE_AUTOMATION_USER}
    networks:
      - faf
    env_file: ./config/faf-slack-invite-automation/faf-slack-invite-automation.env
    restart: always
    ports:
      - "3001:3000"

  #
  # IRC <-> Discord bot. Connects IRC's #aeolus to Discord's #aeolus
  #
  faf-discord-irc:
    container_name: faf-discord-irc
    build: git://github.com/FAForever/faf-discord-irc.git#v1.0
    image: faforever/faf-discord-irc
    user: ${FAF_DISCORD_IRC_USER}
    volumes:
      - ./config/faf-discord-irc/config.json:/config/config.json
    restart: always
    depends_on:
      - faf-init-volumes

  #
  # An nginx proxy which exposes FAF services such as the website, the API etc. through HTTP. It does so by listening
  # for docker containers to come online which have the environment variable VIRTUAL_HOST set. Once such a container
  # comes online, it sets up a virtual host which is forwarded to the only exposed port of that service. If multiple
  # ports are exposed, VIRTUAL_PORT can be set to pick one.
  #
  # For more information, see https://github.com/jwilder/nginx-proxy
  #
  faf-nginx:
    container_name: faf-nginx
    image: jwilder/nginx-proxy:alpine-0.6.0
    user: ${FAF_NGINX_USER}
    networks:
      - faf
    volumes:
      - ./data/content:/content
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ./data/faf-nginx/vhost.d:/etc/nginx/vhost.d:ro
      - ./data/faf-nginx/certs:/etc/nginx/certs:ro
      - ./data/faf-nginx/html:/usr/share/nginx/html
    depends_on:
      - faf-init-volumes
    ports:
      - "80:80"
      - "443:443"
    labels:
      com.github.jrcs.letsencrypt_nginx_proxy_companion.nginx_proxy: "true"

  #
  # An extension of the nginx proxy which converts exposed containers to HTTPS and automatically generates a
  # Let's Encrypt SSL certificate. It does so by listening for docker containers to come online which have the
  # environment variable LETSENCRYPT_HOST and LETSENCRYPT_EMAIL set.
  #
  # For more information, see https://github.com/JrCs/docker-letsencrypt-nginx-proxy-companion
  #
  faf-nginx-certs:
    container_name: faf-nginx-certs
    image: jrcs/letsencrypt-nginx-proxy-companion:v1.6
    user: ${FAF_NGINX_CERTS_USER}
    env_file: ./config/faf-nginx-certs/faf-nginx-certs.env
    volumes:
      - ./data/faf-nginx/certs:/etc/nginx/certs:rw
      - ./data/faf-nginx/vhost.d:/etc/nginx/vhost.d:rw
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./data/faf-nginx/html:/usr/share/nginx/html
    depends_on:
      - faf-init-volumes

  #
  # Temporary avatar management tool.
  #
  faf-jeremy:
    container_name: faf-jeremy
    build: git://github.com/FAForever/Jeremy.git#v1.0
    image: faforever/faf-jeremy
    user: ${FAF_JEREMY_USER}
    env_file: ./config/faf-jeremy/faf-jeremy.env
    networks:
      - faf
    ports:
      - "8099:5000"

  faf-policy-server:
    container_name: faf-policy-server
    image: faforever/faf-policy-server:v1.14
    env_file: ./config/faf-policy-server/faf-policy-server.env
    user: ${FAF_POLICY_SERVER_USER}
    restart: always
    networks:
      faf:
        aliases:
          - "faf-policy-server"
    expose:
      - "8097"
    volumes:
      - ./data/faf-policy-server/faf-uid-verifier/verifier:/app/verifier

  #
  # FAF unit database
  #
  faf-unitdb:
    container_name: faf-unitdb
    image: faforever/faf-unitdb:v1.2.2
    environment:
    - PUID=${FAF_FS_PUID}
    - PGID=${FAF_FS_PGID}
    networks:
      - faf
    volumes:
      - ./data/faf-unitdb/:/var/www/html/DATA
      - ./config/faf-unitdb/datafiles.json:/var/www/html/CONFIG/DATAFILES.JSON
      - ./config/faf-unitdb/locfiles.json:/var/www/html/CONFIG/LOCFILES.JSON
    depends_on:
      - faf-init-volumes
    env_file: ./config/faf-unitdb/faf-unitdb.env
    ports:
      - "8083:80"

  #
  # Postal is a fully featured open source mail delivery platform for incoming & outgoing e-mail.
  #
  faf-postal:
    container_name: faf-postal
    image: faforever/faf-postal:1.0
    env_file: ./config/faf-postal/faf-postal.env
    user: ${FAF_POSTAL_USER}
    networks:
      faf:
        aliases:
          - "faf-postal"
    ports:
      - "8012:5000"
    expose:
      - "25"
    volumes:
      - ./data/faf-postal/assets:/opt/postal/public/assets
      - ./config/faf-postal/config:/opt/postal/config

  #
  # RabbitMQ is open source message broker software (sometimes called message-oriented middleware) that implements the
  # Advanced Message Queuing Protocol (AMQP).
  #
  faf-rabbitmq:
    image: faforever/faf-rabbitmq:1.0
    container_name: faf-rabbitmq
    env_file: ./config/faf-rabbitmq/faf-rabbitmq.env
    user: ${FAF_RABBITMQ_USER}
    networks:
      faf:
        aliases:
          - "faf-rabbitmq"

  #
  # Mautic is an open source marketing automation software.
  #
  faf-mautic:
    container_name: faf-mautic
    image: mautic/mautic:2.12-apache
    env_file: ./config/faf-mautic/faf-mautic.env
    user: ${FAF_MAUTIC_USER}
    restart: always
    networks:
      faf:
        aliases:
          - "faf-mautic"
    ports:
      - "8013:80"
    volumes:
      - ./data/faf-mautic/html:/var/www/html

networks:
  faf:
    driver: bridge
  outside:
    external:
      name: "host"
