[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
mysqlbackup = "python scripts/backup-mysql.py"
gdpr-delete = "python scripts/gdpr-delete.py"

[packages]
pymysql = "*"
python-dotenv = "*"
mailjet_rest = "*"

[dev-packages]
