global:
  scrape_interval: 15s
  external_labels:
    monitor: 'faforever'

scrape_configs:
  - job_name: 'faf-java-api'
    scrape_interval: 5s
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: ['faf-java-api:8011']
        labels:
          group: faf-main

  - job_name: 'faf-java-server'
    scrape_interval: 5s
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: ['faf-java-server:8089']
        labels:
          group: faf-main

  - job_name: 'faf-statsd-exporter'
    static_configs:
      - targets: ['faf-statsd-exporter:9102']
        labels:
          group: faf-main

  - job_name: 'faf-mysql-exporter'
    static_configs:
      - targets: ['faf-mysql-exporter:9104']
        labels:
          alias: faf-db
